<!--  Feature & Special Section Start -->
<section class="section ec-fre-spe-section section-space-p" id="offers">
  <div class="container">
    <div class="row">
      <!--  Feature Section Start -->
      <div class="ec-fre-section col-lg-6 col-md-6 col-sm-6 margin-b-30" data-animation="slideInRight">
        <div class="col-md-12 text-left">
          <div class="section-title">
            <h2 class="ec-bg-title">Sale giờ vàng</h2>
            <h2 class="ec-title">Sale giờ vàng</h2>
          </div>
        </div>

        <div class="ec-fre-products">

          <% for(let i = 0; i < 2; i++){%> 
            <% if(random[i]){%> 
              <div class="ec-fs-product">
                <div class="ec-fs-pro-inner">
                  <div class="ec-fs-pro-image-outer col-lg-6 col-md-6 col-sm-6">
                    <div class="ec-fs-pro-image">
                      <a href="product-left-sidebar.html" class="image"
                        ><img class="main-image" src=" <%= random[i].images[4] %>" alt="Product"
                      /></a>
                      <a
                        href="#"
                        class="quickview"
                        data-link-action="quickview"
                        title="Quick view"
                        data-bs-toggle="modal"
                        data-bs-target="#ec_quickview_modal"
                        ><img src="/static/client/images/icons/quickview.svg" class="svg_img pro_svg" alt=""
                      /></a>
                    </div>
                  </div>
                  <div class="ec-fs-pro-content col-lg-6 col-md-6 col-sm-6">
                    <h5 class="ec-fs-pro-title">
                      <a href="product-left-sidebar.html"> <%= random[i].name %> </a>
                    </h5>
                    <div class="ec-fs-pro-rating">
                      <span class="ec-fs-rating-icon">
                        <i class="ecicon eci-star fill"></i>
                        <i class="ecicon eci-star fill"></i>
                        <i class="ecicon eci-star fill"></i>
                        <i class="ecicon eci-star fill"></i>
                        <i class="ecicon eci-star"></i>
                      </span>
                      <span class="ec-fs-rating-text">4 Review</span>
                    </div>
                    <div class="ec-fs-price">
                      <span class="old-price"><%= (random[i].price * 120/100).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></span>
                      <span class="new-price"> <%= random[i].price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></span>
                    </div>
    
                    <div class="countdowntimer">
                      <span id="ec-fs-count-1"></span>
                    </div>
                    <div class="ec-fs-pro-desc"><%= random[i].shortDesc.slice(10) %></div>
                    <div class="ec-fs-pro-book">Đơn đặt hàng: <span>25</span></div>
                    <div class="ec-fs-pro-btn">
                      <!-- <a href="#" class="btn btn-lg btn-secondary"></a> -->
                      <a href="/product/<%= random[i] .slug %>" class="btn btn-lg btn-primary">Mua ngay</a>
                    </div>
                  </div>
                </div>
              </div>
            <%} %>
          <%} %>
          
         
        </div>
      </div>
      <!--  Feature Section End -->
      <!--  Special Section Start -->
      <div class="ec-spe-section col-lg-6 col-md-6 col-sm-6" data-animation="slideInLeft">
        <div class="col-md-12 text-left">
          <div class="section-title">
            <h2 class="ec-bg-title">Số lượng có hạn</h2>
            <h2 class="ec-title">Số lượng có hạn</h2>
          </div>
        </div>

        <div class="ec-spe-products">
          <% for(let i = 2; i < 4; i++){%> 
            <% if(random[i]){%>
              <div class="ec-fs-product">
                <div class="ec-fs-pro-inner">
                  <div class="ec-fs-pro-image-outer col-lg-6 col-md-6 col-sm-6">
                    <div class="ec-fs-pro-image">
                      <a href="product-left-sidebar.html" class="image"
                        ><img class="main-image" src="<%= random[i].images[4] %>" alt="Product"
                      /></a>
                      <a
                        href="#"
                        class="quickview"
                        data-link-action="quickview"
                        title="Quick view"
                        data-bs-toggle="modal"
                        data-bs-target="#ec_quickview_modal"
                        ><img src="/static/client/images/icons/quickview.svg" class="svg_img pro_svg" alt=""
                      /></a>
                    </div>
                  </div>
                  <div class="ec-fs-pro-content col-lg-6 col-md-6 col-sm-6">
                    <h5 class="ec-fs-pro-title">
                      <a href="product-left-sidebar.html"><%= random[i].name %></a>
                    </h5>
                    <div class="ec-fs-pro-rating">
                      <span class="ec-fs-rating-icon">
                        <i class="ecicon eci-star fill"></i>
                        <i class="ecicon eci-star fill"></i>
                        <i class="ecicon eci-star fill"></i>
                        <i class="ecicon eci-star fill"></i>
                        <i class="ecicon eci-star"></i>
                      </span>
                      <span class="ec-fs-rating-text">4 Review</span>
                    </div>
                    <div class="ec-fs-price">
                      <span class="old-price"><%= (random[i].price * 120/100).toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></span>
                      <span class="new-price"> <%= random[i].price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></span>
                      
                    </div>
                    <div class="countdowntimer">
                      <span id="ec-fs-count-3"></span>
                    </div>
                    <% let desc = random[i].shortDesc.slice(0,20) %>
                    <div class="ec-fs-pro-desc"><%= desc %></div>
                    <div class="ec-fs-pro-book">Đơn đặt hàng: <span>25</span></div>
                    <div class="ec-fs-pro-btn">
                      <a href="/product/<%= random[i] .slug %>" class="btn btn-lg btn-primary">Đặt mua</a>
                    </div>
                  </div>
                </div>
              </div>
            <%} %>
          <%} %>


          
          
        </div>
      </div>
      <!--  Special Section End -->
    </div>
  </div>
</section>
<!-- Feature & Special Section End -->
