<div class="ec-shop-rightside col-lg-12 order-lg-last col-md-12 order-md-first margin-b-30">
  <!-- Shop Top Start -->
  <div class="ec-pro-list-top d-flex">
    <div class="col-md-6 ec-grid-list">
      <div class="ec-gl-btn">
        <button class="btn btn-grid active">
          <img src="/static/client/images/icons/grid.svg" class="svg_img gl_svg" alt="" />
        </button>
        <button class="btn btn-list">
          <img src="/static/client/images/icons/list.svg" class="svg_img gl_svg" alt="" />
        </button>
      </div>
    </div>
    <div class="col-md-6 ec-sort-select">
      <span class="sort-by">Sắp xếp theo</span>
      <div class="ec-select-inner">
        <select name="ec-select" id="ec-select">
          <option value="1">Liên quan</option>
          <option value="2">Tên sản phẩm, A đến Z</option>
          <option value="3">Tên sản phẩm, Z đến A</option>
          <option value="4">Giá thấp đến cao</option>
          <option value="5">Giá cao đến thấp</option>
        </select>
      </div>
    </div>
  </div>
  <!-- Shop Top End -->

  <!-- Shop content Start -->
  <div class="shop-pro-content">
    <div class="shop-pro-inner">
      <div class="row">
        <% products.forEach(function(pro){%>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
          <div class="ec-product-inner">
            <div class="ec-pro-image-outer">
              <div class="ec-pro-image">
                <a href="/product/<%= pro.slug  %>" class="image">
                  <img class="main-image" src="<%= pro.images[3] %>" alt="Product" />
                  <img class="hover-image" src="<%= pro.images[4] %>" alt="Product" />
                </a>
                <span class="percentage">20%</span>

                <div class="ec-pro-actions">
                  <button
                    title="Add To Cart"
                    class="add-to-cart"
                    data-img="<%= pro.images[3] %>"
                    data-quantity="1"
                    data-price="<%= pro.price %>"
                    data-name="<%= pro.name %>"
                    data-id="<%= pro.id %>"
                    data-slug="<%= pro.slug %>"
                  >
                    <img src="/static/client/images/icons/cart.svg" class="svg_img pro_svg" alt="" />
                    Add To Cart
                  </button>
                </div>
              </div>
            </div>
            <div class="ec-pro-content">
              <h5 class="ec-pro-title"><a href="/product/<%= pro.slug  %>"><%= pro.name %></a></h5>
              <div class="ec-pro-rating">
                <i class="ecicon eci-star fill"></i>
                <i class="ecicon eci-star fill"></i>
                <i class="ecicon eci-star fill"></i>
                <i class="ecicon eci-star fill"></i>
                <i class="ecicon eci-star"></i>
              </div>
              <div class="ec-pro-list-desc">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dutmmy text
                ever since the 1500s, when an unknown printer took a galley.
              </div>
              <span class="ec-price">
                <span class="old-price"><%= pro.price * 120%></span>
                <span class="new-price"
                  ><%= pro.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></span
                >
              </span>
              <!-- <div class="ec-pro-option">
                  <div class="ec-pro-color">
                    <span class="ec-pro-opt-label">Color</span>
                    <ul class="ec-opt-swatch ec-change-img">
                      <li class="active">
                        <a
                          href="#"
                          class="ec-opt-clr-img"
                          data-src="/static/client/images/product-image/6_1.jpg"
                          data-src-hover="/static/client/images/product-image/6_1.jpg"
                          data-tooltip="Gray"
                          ><span style="background-color: #e8c2ff"></span
                        ></a>
                      </li>
                      <li>
                        <a
                          href="#"
                          class="ec-opt-clr-img"
                          data-src="/static/client/images/product-image/6_2.jpg"
                          data-src-hover="/static/client/images/product-image/6_2.jpg"
                          data-tooltip="Orange"
                          ><span style="background-color: #9cfdd5"></span
                        ></a>
                      </li>
                    </ul>
                  </div>
                 
                </div> -->
            </div>
          </div>
        </div>

        <% }) %>
      </div>
    </div>
    <!-- Ec Pagination Start -->
    <div class="ec-pro-pagination">
      <span>Showing 1-12 of 21 item(s)</span>
      <ul class="ec-pro-pagination-inner">
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a class="next" href="#">Next <i class="ecicon eci-angle-right"></i></a>
        </li>
      </ul>
    </div>
    <!-- Ec Pagination End -->
  </div>
  <!--Shop content End -->
</div>
