<!DOCTYPE html>
<html lang="en">
  <%- include ("../components/head")%>

  <link href="/static/admin/plugins/notify/css/notifIt.css" rel="stylesheet" />
  <body class="checkout_page">
    <%- include ("../components/header")%> <%- include ("../components/cart")%>

    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row ec_breadcrumb_inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="ec-breadcrumb-title">Đặt hàng</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <!-- ec-breadcrumb-list start -->
                <ul class="ec-breadcrumb-list">
                  <li class="ec-breadcrumb-item"><a href="/">Home</a></li>
                  <li class="ec-breadcrumb-item active">ĐẶt hàng</li>
                </ul>
                <!-- ec-breadcrumb-list end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Ec checkout page -->
    <section class="ec-page-content section-space-p">
      <div class="container">
        <div class="row">
          <div class="ec-checkout-leftside col-lg-8 col-md-12">
            <!-- checkout content Start -->
            <div class="ec-checkout-content">
              <div class="ec-checkout-inner">
                <div class="ec-checkout-wrap margin-bottom-30 padding-bottom-3">
                  <div class="ec-checkout-block ec-check-bill">
                    <h3 class="ec-checkout-title">Chi tiết thanh toán</h3>
                    <div class="ec-bl-block-content">
                      <div class="ec-check-bill-form">
                        <form action="/api/v1/order" method="post">
                          <span class="ec-bill-wrap">
                            <label>Họ tên*</label>
                            <input type="text" id="fullname" name="firstname" placeholder="" required="" />
                          </span>
                          <!-- <span class="ec-bill-wrap ec-bill-half">
                            <label>Tên*</label>
                            <input type="text" id="lastName" name="lastname" placeholder="" required="" />
                          </span> -->
                          <span class="ec-bill-wrap">
                            <label>Địa chỉ</label>
                            <input type="text" id="customerAddress" name="customerAddress" placeholder="" />
                          </span>
                          <span class="ec-bill-wrap">
                            <label>Số điện thoại</label>
                            <input type="text" id="phone" name="customerAddress" placeholder="" />
                          </span>
                          <span class="ec-bill-wrap ec-bill-half">
                            <label>Thành phố *</label>
                            <span class="ec-bl-select-inner">
                              <select name="city" id="ec-select-city" class="ec-bill-select"></select>
                            </span>
                          </span>

                          <span class="ec-bill-wrap ec-bill-half">
                            <label>Quận / Huyện*</label>
                            <span class="ec-bl-select-inner">
                              <select name="district" id="ec-select-district" class="ec-bill-select"></select>
                            </span>
                          </span>
                          <span class="ec-bill-wrap ec-bill-half">
                            <label>Xã / Phường</label>
                            <span class="ec-bl-select-inner">
                              <select name="ward" id="ec-select-ward" class="ec-bill-select"></select>
                            </span>
                          </span>

                          <br>
                          <div class="ec-bill-wrap ec-bill-half">
                            <label>Phương thức thanh toán</label>
                            <span class="ec-bl-select-inner">
                              <select name="ward" id="ec-select-methodpay" class="ec-bill-select">
                                <option value="COD">COD (Thanh toán khi nhận hàng)</option>
                                <option value="BANK">Thanh toán ngân hàng</option>

                              </select>
                            </span>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="ec-check-order-btn">
                  <button class="btn btn-primary" id="order">Đặt hàng</button>
                </span>
              </div>
            </div>
            <!--cart content End -->
          </div>
          <!-- Sidebar Area Start -->
          <div class="ec-checkout-rightside col-lg-4 col-md-12">
            <div class="ec-sidebar-wrap">
              <!-- Sidebar Summary Block -->
              <div class="ec-sidebar-block">
                <div class="ec-sb-title">
                  <h3 class="ec-sidebar-title">
                    Summary
                    <div class="ec-sidebar-res"><i class="ecicon eci-angle-down"></i></div>
                  </h3>
                </div>
                <div class="ec-sb-block-content ec-sidebar-dropdown">
                  <div class="ec-checkout-summary">
                    <div>
                      <span class="text-left">Tạm tính</span>
                      <span class="text-right" id="c-price">0 VND</span>
                    </div>
                    <div>
                      <span class="text-left">VAT (8%)</span>
                      <span class="text-right" id="c-vat">0 VND</span>
                    </div>
                    <div>
                      <span class="text-left">Voucher</span>
                      <span class="text-right"><a class="ec-checkout-coupan">Nhập voucher</a></span>
                    </div>
                    <div>
                      <span class="text-left">Khuyến mại</span>
                      <span class="text-right" id="c-voucher">- 0 VND</span>
                    </div>
                    <div class="ec-checkout-coupan-content">
                      <form class="ec-checkout-coupan-form" name="ec-checkout-coupan-form" method="post" action="#" id="voucher-form">
                        <input
                          class="ec-coupan"
                          type="text"
                          required=""
                          placeholder="Nhập mã giảm giá"
                          name="ec-coupan"
                          value=""
                          id="v-code"
                        />
                        <button class="ec-coupan-btn button btn-primary" type="submit" name="subscribe" value="" id="v-btn">
                          Nhập
                        </button>
                      </form>
                    </div>
                    <div class="ec-checkout-summary-total">
                      <span class="text-left">Tổng tiền</span>
                      <span class="text-right" id="c-total">0 VND</span>
                    </div>
                  </div>
                  <div class="ec-checkout-pro"></div>
                </div>
              </div>
              <!-- Sidebar Summary Block -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include ("../components/modal")%> <%- include ("../components/footer")%> <%- include ("../components/link_js")%>
  </body>
  <script src="/static/admin/plugins/notify/js/notifIt.js"></script>
  <script src="/static/client/js/checkout.js"></script>
</html>
