<!DOCTYPE html>
<html lang="en">
  <%- include ("../components/head")%>

  <body>
    <%- include ("../components/header")%>
    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row ec_breadcrumb_inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="ec-breadcrumb-title">Tin tức</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <!-- ec-breadcrumb-list start -->
                <ul class="ec-breadcrumb-list">
                  <li class="ec-breadcrumb-item"><a href="/">Trang chủ</a></li>
                  <li class="ec-breadcrumb-item active">Tin tức</li>
                </ul>
                <!-- ec-breadcrumb-list end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ec-page-content section-space-p">
      <div class="container">
        <div class="row">
          <div class="ec-blogs-rightside col-lg-12 col-md-12">
            <!-- Blog content Start -->
            <div class="ec-blogs-content">
              <div class="ec-blogs-inner">
                <div class="ec-blog-main-img">
                  <img class="blog-image" src="<%= article.thumbnail %>" alt="Blog" />
                </div>
                <div class="ec-blog-date">
                  <p class="date">28 JUNE, 2021-2022 -</p>
                  <a href="javascript:void(0)">5 Comments</a>
                </div>
                <div class="ec-blog-detail">
                  <h3 class="ec-blog-title"><%= article.title %></h3>
                  
                 <%-  article.content %>
                 
                </div>
                <div class="ec-blog-tags">
                  <a href="blog-left-sidebar.html">lifestyle ,</a>
                  <a href="blog-left-sidebar.html">Outdoor ,</a>
                  <a href="blog-left-sidebar.html">interior ,</a>
                  <a href="blog-left-sidebar.html">sports ,</a>
                  <a href="blog-left-sidebar.html">bloging ,</a>
                  <a href="blog-left-sidebar.html">inspiration</a>
                </div>
                <div class="ec-blog-arrows">
                  <a href="blog-detail-left-sidebar.html"><i class="ecicon eci-angle-left"></i> Prev Post</a>
                  <a href="blog-detail-left-sidebar.html">Next Post <i class="ecicon eci-angle-right"></i></a>
                </div>
                <div class="ec-blog-comments">
                  <div class="ec-blog-cmt-preview">
                    <div class="ec-blog-comment-wrapper mt-55">
                      <h4 class="ec-blog-dec-title">Comments : 05</h4>
                      <div class="ec-single-comment-wrapper mt-35">
                        <div class="ec-blog-user-img">
                          <img src="/static/client/images/blog-image/9.jpg" alt="blog image" />
                        </div>
                        <div class="ec-blog-comment-content">
                          <h5>John Deo</h5>
                          <span>October 14, 2018 </span>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolor magna aliqua. Ut enim ad minim veniam,
                          </p>
                          <div class="ec-blog-details-btn">
                            <a href="blog-detail-left-sidebar.html">read more</a>
                          </div>
                        </div>
                      </div>
                      <div class="ec-single-comment-wrapper mt-50 ml-150">
                        <div class="ec-blog-user-img">
                          <img src="/static/client/images/blog-image/10.jpg" alt="blog image" />
                        </div>
                        <div class="ec-blog-comment-content">
                          <h5>Jenifer lowes</h5>
                          <span>October 14, 2018 </span>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolor magna aliqua. Ut enim ad minim veniam,
                          </p>
                          <div class="ec-blog-details-btn">
                            <a href="blog-detail-left-sidebar.html">read more</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ec-blog-cmt-form">
                    <div class="ec-blog-reply-wrapper mt-50">
                      <h4 class="ec-blog-dec-title">Leave A Reply</h4>
                      <form class="ec-blog-form" action="#">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="ec-leave-form">
                              <input type="text" placeholder="Full Name" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="ec-leave-form">
                              <input type="email" placeholder="Email Address " />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="ec-text-leave">
                              <textarea placeholder="Message"></textarea>
                              <a href="#" class="btn btn-lg btn-secondary">Order Now</a>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Blog content End -->
          </div>
        </div>
      </div>
    </section>
    <%- include ("../components/footer")%> <%- include ("../components/link_js")%>
  </body>
</html>
