<!DOCTYPE html>
<html lang="en">
  <%- include ("../components/head")%>

  <body
    class="shop_page"
    style="position: relative; min-height: 100%; top: 0px"
    data-new-gr-c-s-check-loaded="14.1056.0"
    data-gr-ext-installed=""
  >
    <%- include ("../components/header")%>

    <!-- ekka Cart Start -->
    <div class="ec-side-cart-overlay"></div>
    <div id="ec-side-cart" class="ec-side-cart">
      <div class="ec-cart-inner">
        <div class="ec-cart-top">
          <div class="ec-cart-title">
            <span class="cart_title">My Cart</span>
            <button class="ec-close">×</button>
          </div>
          <ul class="eccart-pro-items">
            <li>
              <a href="product-left-sidebar.html" class="sidekka_pro_img"
                ><img src="/static/client/images/product-image/6_1.jpg" alt="product"
              /></a>
              <div class="ec-pro-content">
                <a href="product-left-sidebar.html" class="cart_pro_title">T-shirt For Women</a>
                <span class="cart-price"><span>$76.00</span> x 1</span>
                <div class="qty-plus-minus">
                  <div class="dec ec_qtybtn">-</div>
                  <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                  <div class="inc ec_qtybtn">+</div>
                </div>
                <a href="javascript:void(0)" class="remove">×</a>
              </div>
            </li>
            <li>
              <a href="product-left-sidebar.html" class="sidekka_pro_img"
                ><img src="/static/client/images/product-image/12_1.jpg" alt="product"
              /></a>
              <div class="ec-pro-content">
                <a href="product-left-sidebar.html" class="cart_pro_title">Women Leather Shoes</a>
                <span class="cart-price"><span>$64.00</span> x 1</span>
                <div class="qty-plus-minus">
                  <div class="dec ec_qtybtn">-</div>
                  <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                  <div class="inc ec_qtybtn">+</div>
                </div>
                <a href="javascript:void(0)" class="remove">×</a>
              </div>
            </li>
            <li>
              <a href="product-left-sidebar.html" class="sidekka_pro_img"
                ><img src="/static/client/images/product-image/3_1.jpg" alt="product"
              /></a>
              <div class="ec-pro-content">
                <a href="product-left-sidebar.html" class="cart_pro_title">Girls Nylon Purse</a>
                <span class="cart-price"><span>$59.00</span> x 1</span>
                <div class="qty-plus-minus">
                  <div class="dec ec_qtybtn">-</div>
                  <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                  <div class="inc ec_qtybtn">+</div>
                </div>
                <a href="javascript:void(0)" class="remove">×</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="ec-cart-bottom">
          <div class="cart-sub-total">
            <table class="table cart-table">
              <tbody>
                <tr>
                  <td class="text-left">Sub-Total :</td>
                  <td class="text-right">$300.00</td>
                </tr>
                <tr>
                  <td class="text-left">VAT (20%) :</td>
                  <td class="text-right">$60.00</td>
                </tr>
                <tr>
                  <td class="text-left">Total :</td>
                  <td class="text-right primary-color">$360.00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="cart_btn">
            <a href="/checkout" class="btn btn-secondary">Đặt hàng</a>
          </div>
        </div>
      </div>
    </div>
    <!-- ekka Cart End -->

    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row ec_breadcrumb_inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="ec-breadcrumb-title">User Profile</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <!-- ec-breadcrumb-list start -->
                <ul class="ec-breadcrumb-list">
                  <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="ec-breadcrumb-item active">Profile</li>
                </ul>
                <!-- ec-breadcrumb-list end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- User profile section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
      <div class="container">
        <div class="row">
          <!-- Sidebar Area Start -->
          <div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
            <div class="ec-sidebar-wrap">
              <!-- Sidebar Category Block -->
              <div class="ec-sidebar-block">
                <div class="ec-vendor-block">
                  <!-- <div class="ec-vendor-block-bg"></div>
                              <div class="ec-vendor-block-detail">
                                  <img class="v-img" src="/static/client/images/user/1.jpg" alt="vendor image">
                                  <h5>Mariana Johns</h5>
                              </div> -->
                  <div class="ec-vendor-block-items">
                    <ul>
                      <li><a href="/profile">Trang cá nhân</a></li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ec-shop-rightside col-lg-9 col-md-12">
            <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
              <div class="ec-vendor-card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="ec-vendor-block-profile">
                      <div class="ec-vendor-block-img space-bottom-30">
                        <div class="ec-vendor-block-bg">
                          <a
                            href="#"
                            class="btn btn-lg btn-primary"
                            data-link-action="editmodal"
                            title="Edit Detail"
                            data-bs-toggle="modal"
                            data-bs-target="#edit_modal"
                            >Chỉnh sửa</a
                          >
                        </div>
                        <div class="ec-vendor-block-detail">
                          <img class="v-img" src="<%= user.avatar %>" alt="vendor image" />
                          <h5 class="name"><%= user.firstName %> <%= user.lastName %></h5>
                          <p>( <%= user.career %> )</p>
                        </div>
                        <p>Xin chào <span><%= user.firstName %> <%= user.lastName %>!</span></p>
                        <p>
                          
                        </p>
                      </div>
                      <h5>Thông tin tài khoản</h5>

                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                            <h6>
                              Địa chỉ email
                              <a
                                href="javasript:void(0)"
                                data-link-action="editmodal"
                                title="Edit Detail"
                                data-bs-toggle="modal"
                                data-bs-target="#edit_modal"
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="#000000"
                                  viewBox="0 0 32 32"
                                  width="32px"
                                  height="32px"
                                  src="/static/client/images/icons/edit.svg"
                                  class="svg_img pro_svg"
                                  alt="edit"
                                >
                                  <path
                                    d="M 23.90625 3.96875 C 22.859375 3.96875 21.8125 4.375 21 5.1875 L 5.1875 21 L 5.125 21.3125 L 4.03125 26.8125 L 3.71875 28.28125 L 5.1875 27.96875 L 10.6875 26.875 L 11 26.8125 L 26.8125 11 C 28.4375 9.375 28.4375 6.8125 26.8125 5.1875 C 26 4.375 24.953125 3.96875 23.90625 3.96875 Z M 23.90625 5.875 C 24.410156 5.875 24.917969 6.105469 25.40625 6.59375 C 26.378906 7.566406 26.378906 8.621094 25.40625 9.59375 L 24.6875 10.28125 L 21.71875 7.3125 L 22.40625 6.59375 C 22.894531 6.105469 23.402344 5.875 23.90625 5.875 Z M 20.3125 8.71875 L 23.28125 11.6875 L 11.1875 23.78125 C 10.53125 22.5 9.5 21.46875 8.21875 20.8125 Z M 6.9375 22.4375 C 8.136719 22.921875 9.078125 23.863281 9.5625 25.0625 L 6.28125 25.71875 Z"
                                  ></path></svg
                              ></a>
                            </h6>
                            <ul>
                              <li><strong>Email : </strong><%= user.email %></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                            <h6>
                              SĐT <a
                                href="javasript:void(0)"
                                data-link-action="editmodal"
                                title="Edit Detail"
                                data-bs-toggle="modal"
                                data-bs-target="#edit_modal"
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="#000000"
                                  viewBox="0 0 32 32"
                                  width="32px"
                                  height="32px"
                                  src="/static/client/images/icons/edit.svg"
                                  class="svg_img pro_svg"
                                  alt="edit"
                                >
                                  <path
                                    d="M 23.90625 3.96875 C 22.859375 3.96875 21.8125 4.375 21 5.1875 L 5.1875 21 L 5.125 21.3125 L 4.03125 26.8125 L 3.71875 28.28125 L 5.1875 27.96875 L 10.6875 26.875 L 11 26.8125 L 26.8125 11 C 28.4375 9.375 28.4375 6.8125 26.8125 5.1875 C 26 4.375 24.953125 3.96875 23.90625 3.96875 Z M 23.90625 5.875 C 24.410156 5.875 24.917969 6.105469 25.40625 6.59375 C 26.378906 7.566406 26.378906 8.621094 25.40625 9.59375 L 24.6875 10.28125 L 21.71875 7.3125 L 22.40625 6.59375 C 22.894531 6.105469 23.402344 5.875 23.90625 5.875 Z M 20.3125 8.71875 L 23.28125 11.6875 L 11.1875 23.78125 C 10.53125 22.5 9.5 21.46875 8.21875 20.8125 Z M 6.9375 22.4375 C 8.136719 22.921875 9.078125 23.863281 9.5625 25.0625 L 6.28125 25.71875 Z"
                                  ></path></svg
                              ></a>
                            </h6>
                            <ul>
                              <li><strong>SĐT: </strong><%= user.phone %></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                            <h6>
                              Giới tính<a
                                href="javasript:void(0)"
                                data-link-action="editmodal"
                                title="Edit Detail"
                                data-bs-toggle="modal"
                                data-bs-target="#edit_modal"
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="#000000"
                                  viewBox="0 0 32 32"
                                  width="32px"
                                  height="32px"
                                  src="/static/client/images/icons/edit.svg"
                                  class="svg_img pro_svg"
                                  alt="edit"
                                >
                                  <path
                                    d="M 23.90625 3.96875 C 22.859375 3.96875 21.8125 4.375 21 5.1875 L 5.1875 21 L 5.125 21.3125 L 4.03125 26.8125 L 3.71875 28.28125 L 5.1875 27.96875 L 10.6875 26.875 L 11 26.8125 L 26.8125 11 C 28.4375 9.375 28.4375 6.8125 26.8125 5.1875 C 26 4.375 24.953125 3.96875 23.90625 3.96875 Z M 23.90625 5.875 C 24.410156 5.875 24.917969 6.105469 25.40625 6.59375 C 26.378906 7.566406 26.378906 8.621094 25.40625 9.59375 L 24.6875 10.28125 L 21.71875 7.3125 L 22.40625 6.59375 C 22.894531 6.105469 23.402344 5.875 23.90625 5.875 Z M 20.3125 8.71875 L 23.28125 11.6875 L 11.1875 23.78125 C 10.53125 22.5 9.5 21.46875 8.21875 20.8125 Z M 6.9375 22.4375 C 8.136719 22.921875 9.078125 23.863281 9.5625 25.0625 L 6.28125 25.71875 Z"
                                  ></path></svg
                              ></a>
                            </h6>
                            <ul>
                              <li>
                                <strong>Giới tính : </strong><%= user.gender %>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="ec-vendor-detail-block ec-vendor-block-address">
                            <h6>
                              Địa chỉ<a
                                href="javasript:void(0)"
                                data-link-action="editmodal"
                                title="Edit Detail"
                                data-bs-toggle="modal"
                                data-bs-target="#edit_modal"
                                ><svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="#000000"
                                  viewBox="0 0 32 32"
                                  width="32px"
                                  height="32px"
                                  src="/static/client/images/icons/edit.svg"
                                  class="svg_img pro_svg"
                                  alt="edit"
                                >
                                  <path
                                    d="M 23.90625 3.96875 C 22.859375 3.96875 21.8125 4.375 21 5.1875 L 5.1875 21 L 5.125 21.3125 L 4.03125 26.8125 L 3.71875 28.28125 L 5.1875 27.96875 L 10.6875 26.875 L 11 26.8125 L 26.8125 11 C 28.4375 9.375 28.4375 6.8125 26.8125 5.1875 C 26 4.375 24.953125 3.96875 23.90625 3.96875 Z M 23.90625 5.875 C 24.410156 5.875 24.917969 6.105469 25.40625 6.59375 C 26.378906 7.566406 26.378906 8.621094 25.40625 9.59375 L 24.6875 10.28125 L 21.71875 7.3125 L 22.40625 6.59375 C 22.894531 6.105469 23.402344 5.875 23.90625 5.875 Z M 20.3125 8.71875 L 23.28125 11.6875 L 11.1875 23.78125 C 10.53125 22.5 9.5 21.46875 8.21875 20.8125 Z M 6.9375 22.4375 C 8.136719 22.921875 9.078125 23.863281 9.5625 25.0625 L 6.28125 25.71875 Z"
                                  ></path></svg
                              ></a>
                            </h6>
                            <ul>
                              <li>
                                <strong>Địa chỉ : </strong><%= user.address %>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End User profile section -->

    <!-- Modal -->
    <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="ec-vendor-block-img space-bottom-30">
                <div class="ec-vendor-block-bg cover-upload">
                  <div class="thumb-upload">
                    <div class="thumb-edit">
                      <input type="file" id="thumbUpload01" class="ec-image-upload" accept=".png, .jpg, .jpeg" />
                      <label
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="#000000"
                          viewBox="0 0 32 32"
                          width="32px"
                          height="32px"
                          src="/static/client/images/icons/edit.svg"
                          class="svg_img header_svg"
                          alt="edit"
                        >
                          <path
                            d="M 23.90625 3.96875 C 22.859375 3.96875 21.8125 4.375 21 5.1875 L 5.1875 21 L 5.125 21.3125 L 4.03125 26.8125 L 3.71875 28.28125 L 5.1875 27.96875 L 10.6875 26.875 L 11 26.8125 L 26.8125 11 C 28.4375 9.375 28.4375 6.8125 26.8125 5.1875 C 26 4.375 24.953125 3.96875 23.90625 3.96875 Z M 23.90625 5.875 C 24.410156 5.875 24.917969 6.105469 25.40625 6.59375 C 26.378906 7.566406 26.378906 8.621094 25.40625 9.59375 L 24.6875 10.28125 L 21.71875 7.3125 L 22.40625 6.59375 C 22.894531 6.105469 23.402344 5.875 23.90625 5.875 Z M 20.3125 8.71875 L 23.28125 11.6875 L 11.1875 23.78125 C 10.53125 22.5 9.5 21.46875 8.21875 20.8125 Z M 6.9375 22.4375 C 8.136719 22.921875 9.078125 23.863281 9.5625 25.0625 L 6.28125 25.71875 Z"
                          ></path></svg
                      ></label>
                    </div>
                    <div class="thumb-preview ec-preview">
                      <div class="image-thumb-preview">
                        <img
                          class="image-thumb-preview ec-image-preview v-img"
                          src="/static/client/images/banner/8.jpg"
                          alt="edit"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ec-vendor-block-detail">
                  <div class="thumb-upload">
                    <div class="thumb-edit">
                      <input type="file" id="thumbUpload02" class="ec-image-upload" accept=".png, .jpg, .jpeg" />
                      <label
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="#000000"
                          viewBox="0 0 32 32"
                          width="32px"
                          height="32px"
                          src="/static/client/images/icons/edit.svg"
                          class="svg_img header_svg"
                          alt="edit"
                        >
                          <path
                            d="M 23.90625 3.96875 C 22.859375 3.96875 21.8125 4.375 21 5.1875 L 5.1875 21 L 5.125 21.3125 L 4.03125 26.8125 L 3.71875 28.28125 L 5.1875 27.96875 L 10.6875 26.875 L 11 26.8125 L 26.8125 11 C 28.4375 9.375 28.4375 6.8125 26.8125 5.1875 C 26 4.375 24.953125 3.96875 23.90625 3.96875 Z M 23.90625 5.875 C 24.410156 5.875 24.917969 6.105469 25.40625 6.59375 C 26.378906 7.566406 26.378906 8.621094 25.40625 9.59375 L 24.6875 10.28125 L 21.71875 7.3125 L 22.40625 6.59375 C 22.894531 6.105469 23.402344 5.875 23.90625 5.875 Z M 20.3125 8.71875 L 23.28125 11.6875 L 11.1875 23.78125 C 10.53125 22.5 9.5 21.46875 8.21875 20.8125 Z M 6.9375 22.4375 C 8.136719 22.921875 9.078125 23.863281 9.5625 25.0625 L 6.28125 25.71875 Z"
                          ></path></svg
                      ></label>
                    </div>
                    <div class="thumb-preview ec-preview">
                      <div class="image-thumb-preview">
                        <img
                          class="image-thumb-preview ec-image-preview v-img"
                          src="<%= user.avatar %>"
                          alt="edit"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ec-vendor-upload-detail">
                  <form class="row g-3" id="form-update">
                    <div class="col-md-6 space-t-15">
                      <label class="form-label">Họ, tên đệm</label>
                      <input type="text" class="form-control" id="first-name" value="<%= user.firstName %>"/>
                    </div>
                    <div class="col-md-6 space-t-15">
                      <label class="form-label">Tên</label>
                      <input type="text" class="form-control" id="last-name" value="<%= user.lastName %>"/>
                    </div>
                    <div class="col-md-12 space-t-15">
                      <label class="form-label">Email</label>
                      <input type="text" class="form-control" id="email" value="<%= user.email %>"/>
                    </div>
                    <div class="col-md-12 space-t-15">
                      <label class="form-label">SĐT</label>
                      <input type="text" class="form-control" id="phone" value="<%= user.phone %>"/>
                    </div>
                    <div class="col-md-12 space-t-15">
                      <label class="form-label">Giới tính</label>
                      <select name="ec_select_city" id="gender" class="w-100">
                        <% let gender = user.gender %>
                        <option <%= (gender == "nam") ? "selected" : "" %> value="nam">Nam</option>
                        <option <%= (gender == "nữ") ? "selected" : "" %> value="nữ">Nữ</option>
                      </select>
                      <!-- <input type="text" class="form-control" value="<%= user.gender %>"/> -->
                    </div>
                    <div class="col-md-12 space-t-15">
                      <label class="form-label">Địa chỉ</label>
                      <input type="text" class="form-control" id="address" value="<%= user.address %>"/>
                    </div>
                    <div class="col-md-12 space-t-15">
                      <label class="form-label">Nghề nghiệp</label>
                      <input type="text" class="form-control" id="career" value="<%= user.career %>"/>
                    </div>
                   
                    <div class="col-md-12 space-t-15">
                      <button type="submit" class="btn btn-primary">Cập nhật</button>
                      <a href="#" class="btn btn-lg btn-secondary qty_close" data-bs-dismiss="modal" aria-label="Close"
                        >Huỷ</a
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->

    <!-- Cart Floating Button -->
    <div class="ec-cart-float">
      <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
        <div class="header-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="512pt"
            viewBox="-35 0 512 512.00102"
            width="512pt"
            src="/static/client/images/icons/cart.svg"
            class="svg_img header_svg"
            alt=""
          >
            <path
              d="m443.054688 495.171875-38.914063-370.574219c-.816406-7.757812-7.355469-13.648437-15.15625-13.648437h-73.140625v-16.675781c0-51.980469-42.292969-94.273438-94.273438-94.273438-51.984374 0-94.277343 42.292969-94.277343 94.273438v16.675781h-73.140625c-7.800782 0-14.339844 5.890625-15.15625 13.648437l-38.9140628 370.574219c-.4492192 4.292969.9453128 8.578125 3.8320308 11.789063 2.890626 3.207031 7.007813 5.039062 11.324219 5.039062h412.65625c4.320313 0 8.4375-1.832031 11.324219-5.039062 2.894531-3.210938 4.285156-7.496094 3.835938-11.789063zm-285.285157-400.898437c0-35.175782 28.621094-63.796876 63.800781-63.796876 35.175782 0 63.796876 28.621094 63.796876 63.796876v16.675781h-127.597657zm-125.609375 387.25 35.714844-340.097657h59.417969v33.582031c0 8.414063 6.824219 15.238282 15.238281 15.238282s15.238281-6.824219 15.238281-15.238282v-33.582031h127.597657v33.582031c0 8.414063 6.824218 15.238282 15.238281 15.238282 8.414062 0 15.238281-6.824219 15.238281-15.238282v-33.582031h59.417969l35.714843 340.097657zm0 0"
            ></path>
          </svg>
        </div>
        <span class="ec-cart-count cart-count-lable">3</span>
      </a>
    </div>
    <!-- Cart Floating Button end -->

    <%- include ("../components/footer")%> <%- include ("../components/link_js")%>

    <script>
      document.getElementById('form-update').addEventListener("submit", async( e ) => {
        e.preventDefault();

        const firstName = document.getElementById("first-name").value
        const lastName = document.getElementById("last-name").value
        const email = document.getElementById("email").value
        const phone = document.getElementById("phone").value
        const gender = document.getElementById("gender").value
        const address = document.getElementById("address").value
        const career = document.getElementById("career").value

        const data = {
          firstName,
          lastName,
          email,
          phone,
          gender,
          address,
          career
        }

        try{
          const result = await (await
          fetch('/api/v1/users', {
            method: 'PATCH', 
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          })).json()

         
          if(result.code == 200){
            alert("Cập nhật thành công")
            location.reload();
          }
        }catch(err){
          alert(err)
        }
        
      })
    </script>
    <!-- Main Js -->
    <!-- <script src="/static/client/js/main.js"></script> -->
    
  </body>
</html>
