<html lang="en" style="--primary02: rgba(56, 202, 179, 0.2); --primary05: rgba(56, 202, 179, 0.5)">
  <!-- Mirrored from spruko.com/demo/nowa/Nowa/HTML/table-data.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Apr 2022 08:11:16 GMT -->

  <head>
    <style data-styles="">
      ion-icon {
        visibility: hidden;
      }

      .hydrated {
        visibility: inherit;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Title -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet" /> -->

    <title>Sửa slider</title>
    <!-- Favicon -->
    <link rel="icon" href="/static/admin/img/brand/favicon.png" type="image/x-icon" />
    <!-- Icons css -->
    <!-- <link href="/static/admin/css/icons.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="/static/admin/plugins/line-awesome/css/line-awesome.css" async>
    <link rel="stylesheet" href="/static/admin/plugins/feather/feather.css" async>
    <link rel="stylesheet" href="/static/admin/plugins/fontawesome-free/css/all.min.css" async>
    <!--  bootstrap css-->
    <link href="/static/admin/plugins/notify/css/notifIt.css" rel="stylesheet" />
    <link href="/static/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Summernote editor css -->
    <!-- <link href="/static/admin/plugins/summernote-editor/summernote1.css" rel="stylesheet" /> -->
    <!--  Right-sidemenu css -->
    <link href="/static/admin/plugins/sidebar/sidebar.css" rel="stylesheet" />
    <!-- P-scroll bar css-->
    <!-- <link href="/static/admin/plugins/perfect-scrollbar/p-scrollbar.css" rel="stylesheet" /> -->
    <!--- Style css --->
    <link href="/static/admin/css/style.css" rel="stylesheet" />
    <link href="/static/admin/css/style-dark.css" rel="stylesheet" />
    <link href="/static/admin/css/style-transparent.css" rel="stylesheet" />
    <!-- INTERNAL Select2 css -->
    <!-- <link href="/static/admin/plugins/select2/css/select2.min.css" rel="stylesheet" /> -->
    <!---Skinmodes css-->
    <link href="/static/admin/css/skin-modes.css" rel="stylesheet" />
    <!--- Animations css-->
    <link href="/static/admin/css/animate.css" rel="stylesheet" />
    <!-- INTERNAL Switcher css -->
    <!-- <link href="/static/admin/switcher/css/switcher.css" rel="stylesheet" /> -->
    <!-- <link href="/static/admin/switcher/demo.css" rel="stylesheet" /> -->
    <link href="/static/admin/css/cropper.css" rel="stylesheet" />

    <meta http-equiv="imagetoolbar" content="no" />
  </head>

  <body class="ltr main-body app sidebar-mini">
    <div class="horizontalMenucontainer">
      <!-- Loader -->
      <div id="global-loader" style="display: none">
        <img src="/static/admin/img/loader.svg" class="loader-img" alt="Loader" />
      </div>
      <!-- /Loader -->
      <!-- Page -->
      <div class="page">
        <div>
          <!-- main-header -->
          <%- include ("../components/header")%>

          <div class="jumps-prevent" style="padding-top: 63px"></div>
          <!-- /main-header -->
          <!-- main-sidebar -->
          <%- include ("../components/left")%>

          <div class="jumps-prevent" style="padding-top: 63px"></div>
          <!-- main-sidebar -->
        </div>
        <!-- main-content -->
        <div class="main-content app-content">
          <!-- container -->
          <div class="main-container container-fluid">
            <!-- breadcrumb -->
            <div class="breadcrumb-header justify-content-between">
              <div class="left-content"><span class="main-content-title mg-b-0 mg-b-lg-1">Viết bài</span></div>
              <div class="justify-content-center mt-2">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item tx-15"><a href="javascript:void(0);">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Viết bài</li>
                </ol>
              </div>
            </div>
            <!-- /breadcrumb -->

            <!-- Row -->
            <div class="row row-sm">
              <div class="col-lg-12">
                <div class="card custom-card overflow-hidden">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="main-content-label mg-b-5">Tiêu đề</div>
                        <input type="text" class="form-control" placeholder="Tiêu đề" id="title" value="<%= data.title %>" />
                      </div>

                      <div class="col-lg-12 mt-2">
                        <div class="main-content-label mg-b-5">Mô tả</div>
                        <textarea class="form-control" placeholder="" id="description" value="">
<%= data.description %></textarea
                        >
                      </div>

                      <div class="col-lg-12 mt-2">
                        <div class="main-content-label mg-b-5">Đính kèm link</div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Đính kèm link"
                          id="link"
                          value="<%= data.link %>"
                        />
                      </div>

                      <div class="col-lg-6">
                        <div class="main-content-label mg-b-5 mt-3">Ảnh thumbnail</div>
                        <!-- <input class="form-control" type="file" id="thumbnail" /> -->
                        <button
                          type="button"
                          class="btn btn-primary"
                          id="btnEdit"
                          data-bs-toggle="modal"
                          data-bs-target="#full-screen"
                        >
                          <i class="fa fa-arrow-up"></i> Upload ảnh
                        </button>
                      </div>

                      <div class="col-lg-12 mt-3" style="text-align: right">
                        <button
                          type="button"
                          class="btn btn-primary btn-w-sm"
                          id="btn-update"
                          data-id="<%= data._id %>"
                          style="padding: 10px 90px"
                        >
                          <i class="fa fa-paper-plane"></i> Cập nhật
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Row -->
          </div>
          <!-- Container closed -->
        </div>
        <!-- main-content closed -->
        <!-- Sidebar-right-->
        <div class="sidebar sidebar-right sidebar-animate ps ps--active-y">
          <div class="panel panel-primary card mb-0 box-shadow">
            <div class="tab-menu-heading card-img-top-1 border-0 p-3">
              <div class="card-title mb-0">Notifications</div>
              <div class="card-options ms-auto">
                <a href="javascript:void(0);" class="sidebar-remove"><i class="fe fe-x"></i></a>
              </div>
            </div>
            <div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
              <div class="tabs-menu">
                <!-- Tabs -->
                <ul class="nav panel-tabs">
                  <li class="">
                    <a href="#side1" class="active" data-bs-toggle="tab"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="side-menu__icon"
                        height="24"
                        viewBox="0 0 24 24"
                        width="24"
                      >
                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                        <path
                          d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"
                        ></path>
                      </svg>
                      Chat</a
                    >
                  </li>
                  <li>
                    <a href="#side2" data-bs-toggle="tab"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="side-menu__icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm11-6h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 6h-4V5h4v4zm-9 4H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm-1 6H5v-4h4v4zm8-6c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm0 6c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z"
                        ></path>
                      </svg>
                      Notifications</a
                    >
                  </li>
                  <li>
                    <a href="#side3" data-bs-toggle="tab"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        class="side-menu__icon"
                        height="24"
                        version="1.1"
                        width="24"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M12,2C6.48,2 2,6.48 2,12C2,17.52 6.48,22 12,22C17.52,22 22,17.52 22,12C22,6.48 17.52,2 12,2M7.07,18.28C7.5,17.38 10.12,16.5 12,16.5C13.88,16.5 16.5,17.38 16.93,18.28C15.57,19.36 13.86,20 12,20C10.14,20 8.43,19.36 7.07,18.28M18.36,16.83C16.93,15.09 13.46,14.5 12,14.5C10.54,14.5 7.07,15.09 5.64,16.83C4.62,15.5 4,13.82 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,13.82 19.38,15.5 18.36,16.83M12,6C10.06,6 8.5,7.56 8.5,9.5C8.5,11.44 10.06,13 12,13C13.94,13 15.5,11.44 15.5,9.5C15.5,7.56 13.94,6 12,6M12,11C11.17,11 10.5,10.33 10.5,9.5C10.5,8.67 11.17,8 12,8C12.83,8 13.5,8.67 13.5,9.5C13.5,10.33 12.83,11 12,11Z"
                        ></path>
                      </svg>
                      Friends</a
                    >
                  </li>
                </ul>
              </div>
              <div class="tab-content">
                <div class="tab-pane active" id="side1">
                  <div class="list d-flex align-items-center border-bottom p-3">
                    <div class=""><span class="avatar bg-primary brround avatar-md">CH</span></div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                      <p class="mb-0 d-flex"><b>New Websites is Created</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-clock text-muted me-1 tx-11"></i>
                          <small class="text-muted ms-auto">30 mins ago</small>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="list d-flex align-items-center border-bottom p-3">
                    <div class=""><span class="avatar bg-danger brround avatar-md">N</span></div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                      <p class="mb-0 d-flex"><b>Prepare For the Next Project</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-clock text-muted me-1 tx-11"></i>
                          <small class="text-muted ms-auto">2 hours ago</small>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="list d-flex align-items-center border-bottom p-3">
                    <div class=""><span class="avatar bg-info brround avatar-md">S</span></div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                      <p class="mb-0 d-flex"><b>Decide the live Discussion</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-clock text-muted me-1 tx-11"></i>
                          <small class="text-muted ms-auto">3 hours ago</small>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="list d-flex align-items-center border-bottom p-3">
                    <div class=""><span class="avatar bg-warning brround avatar-md">K</span></div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                      <p class="mb-0 d-flex"><b>Meeting at 3:00 pm</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-clock text-muted me-1 tx-11"></i>
                          <small class="text-muted ms-auto">4 hours ago</small>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="list d-flex align-items-center border-bottom p-3">
                    <div class=""><span class="avatar bg-success brround avatar-md">R</span></div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                      <p class="mb-0 d-flex"><b>Prepare for Presentation</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-clock text-muted me-1 tx-11"></i>
                          <small class="text-muted ms-auto">1 days ago</small>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="list d-flex align-items-center border-bottom p-3">
                    <div class=""><span class="avatar bg-pink brround avatar-md">MS</span></div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                      <p class="mb-0 d-flex"><b>Prepare for Presentation</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-clock text-muted me-1 tx-11"></i>
                          <small class="text-muted ms-auto">1 days ago</small>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="list d-flex align-items-center border-bottom p-3">
                    <div class=""><span class="avatar bg-purple brround avatar-md">L</span></div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                      <p class="mb-0 d-flex"><b>Prepare for Presentation</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-clock text-muted me-1 tx-11"></i>
                          <small class="text-muted ms-auto">45 mintues ago</small>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="list d-flex align-items-center p-3">
                    <div class=""><span class="avatar bg-blue brround avatar-md">U</span></div>
                    <a class="wrapper w-100 ms-3" href="javascript:void(0);">
                      <p class="mb-0 d-flex"><b>Prepare for Presentation</b></p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <i class="mdi mdi-clock text-muted me-1 tx-11"></i>
                          <small class="text-muted ms-auto">2 days ago</small>
                          <p class="mb-0"></p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tab-pane" id="side2">
                  <div class="list-group list-group-flush">
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-3">
                        <span
                          class="avatar avatar-lg brround cover-image"
                          data-image-src="/static/admin/img/faces/12.jpg"
                          style="background: url('/static/admin/img/faces/12.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div>
                        <strong>Madeleine</strong> Hey! there I' am available....
                        <div class="small text-muted">3 hours ago</div>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-3">
                        <span
                          class="avatar avatar-lg brround cover-image"
                          data-image-src="/static/admin/img/faces/1.jpg"
                          style="background: url('/static/admin/img/faces/1.jpg') center center"
                        ></span>
                      </div>
                      <div>
                        <strong>Anthony</strong> New product Launching...
                        <div class="small text-muted">5 hour ago</div>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-3">
                        <span
                          class="avatar avatar-lg brround cover-image"
                          data-image-src="/static/admin/img/faces/2.jpg"
                          style="background: url('/static/admin/img/faces/2.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div>
                        <strong>Olivia</strong> New Schedule Realease......
                        <div class="small text-muted">45 mintues ago</div>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-3">
                        <span
                          class="avatar avatar-lg brround cover-image"
                          data-image-src="/static/admin/img/faces/8.jpg"
                          style="background: url('/static/admin/img/faces/8.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div>
                        <strong>Madeleine</strong> Hey! there I' am available....
                        <div class="small text-muted">3 hours ago</div>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-3">
                        <span
                          class="avatar avatar-lg brround cover-image"
                          data-image-src="/static/admin/img/faces/11.jpg"
                          style="background: url('/static/admin/img/faces/11.jpg') center center"
                        ></span>
                      </div>
                      <div>
                        <strong>Anthony</strong> New product Launching...
                        <div class="small text-muted">5 hour ago</div>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-3">
                        <span
                          class="avatar avatar-lg brround cover-image"
                          data-image-src="/static/admin/img/faces/6.jpg"
                          style="background: url('/static/admin/img/faces/6.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div>
                        <strong>Olivia</strong> New Schedule Realease......
                        <div class="small text-muted">45 mintues ago</div>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-3">
                        <span
                          class="avatar avatar-lg brround cover-image"
                          data-image-src="/static/admin/img/faces/9.jpg"
                          style="background: url('/static/admin/img/faces/9.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div>
                        <strong>Olivia</strong> Hey! there I' am available....
                        <div class="small text-muted">12 mintues ago</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="side3">
                  <div class="list-group list-group-flush">
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/9.jpg"
                          style="background: url('/static/admin/img/faces/9.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Mozelle Belt
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/11.jpg"
                          style="background: url('/static/admin/img/faces/11.jpg') center center"
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Florinda Carasco
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/10.jpg"
                          style="background: url('/static/admin/img/faces/10.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Alina Bernier
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/2.jpg"
                          style="background: url('/static/admin/img/faces/2.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Zula Mclaughin
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/13.jpg"
                          style="background: url('/static/admin/img/faces/13.jpg') center center"
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Isidro Heide
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/12.jpg"
                          style="background: url('/static/admin/img/faces/12.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Mozelle Belt
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-light btn-rounded"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/4.jpg"
                          style="background: url('/static/admin/img/faces/4.jpg') center center"
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Florinda Carasco
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/7.jpg"
                          style="background: url('/static/admin/img/faces/7.jpg') center center"
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Alina Bernier
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-light btn-rounded"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/2.jpg"
                          style="background: url('/static/admin/img/faces/2.jpg') center center"
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Zula Mclaughin
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/14.jpg"
                          style="background: url('/static/admin/img/faces/14.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Isidro Heide
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-light btn-rounded"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/11.jpg"
                          style="background: url('/static/admin/img/faces/11.jpg') center center"
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Florinda Carasco
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/9.jpg"
                          style="background: url('/static/admin/img/faces/9.jpg') center center"
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Alina Bernier
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/15.jpg"
                          style="background: url('/static/admin/img/faces/15.jpg') center center"
                          ><span class="avatar-status bg-success"></span
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Zula Mclaughin
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                    <div class="list-group-item d-flex align-items-center">
                      <div class="me-2">
                        <span
                          class="avatar avatar-md brround cover-image"
                          data-image-src="/static/admin/img/faces/4.jpg"
                          style="background: url('/static/admin/img/faces/4.jpg') center center"
                        ></span>
                      </div>
                      <div class="">
                        <div class="font-weight-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">
                          Isidro Heide
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a
                          href="javascript:void(0);"
                          class="btn btn-sm btn-outline-light btn-rounded"
                          data-bs-toggle="modal"
                          data-bs-target="#chatmodel"
                          ><i class="mdi mdi-message-outline"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ps__rail-x" style="left: 0px; bottom: 0px">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
          </div>
          <div class="ps__rail-y" style="top: 0px; height: 577px; right: 0px">
            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 472px"></div>
          </div>
        </div>

        <!-- Footer opened -->
        <div class="main-footer">
          <div class="container-fluid pd-t-0-f ht-100p">
            Copyright © 2022 <a href="javascript:void(0);" class="text-primary">nowa</a>. Designed with
            <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0);"> Spruko </a> All rights reserved
          </div>
        </div>
        <!-- Footer closed -->
      </div>

      <!-- Model Upload Image -->
      <div class="modal fade" id="full-screen" style="display: none" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen" role="document">
          <div class="modal-content modal-content-demo">
            <div class="modal-header">
              <h6 class="modal-title">Upload ảnh thumbnail</h6>
              <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-8">
                    <img id="image-crop" src="/static/client/images/product-image/1_1.jpg" />
                  </div>
                  <div class="col-4" id="actions">
                    <div class="docs-buttons">
                      <div>
                        <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*" />
                        <button style="margin-left: 30px" id="btnUpload" type="button" class="btn btn-primary mb-1">
                          <i class="fa fa-arrow-up"></i> Upload ảnh
                        </button>
                      </div>

                      <div>
                        <button
                          style="margin: 10px 0 10px 30px"
                          type="button"
                          class="btn btn-primary mb-1"
                          data-method="getCroppedCanvas"
                          data-option='{ "maxWidth": 4096, "maxHeight": 4096 }'
                        >
                          <span
                            class="docs-tooltip"
                            data-toggle="tooltip"
                            title=""
                            data-original-title="cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 })"
                          >
                            <i class="fa fa-cut"></i> Cắt ảnh
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn ripple btn-secondary" data-bs-dismiss="modal" type="button">Huỷ</button>
            </div>
          </div>
        </div>
      </div>

      <!-- End Page -->
      <!-- Back-to-top -->
      <a href="#top" id="back-to-top"><i class="las la-arrow-up"></i></a>
      <!-- JQuery min js -->
      <script src="/static/admin/plugins/jquery/jquery.min.js"></script>
      <script src="/static/admin/plugins/notify/js/notifIt.js"></script>
      <!-- Bootstrap js -->
      <script src="/static/admin/plugins/bootstrap/js/popper.min.js"></script>
      <script src="/static/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
      <!-- Ionicons js -->
      <script src="/static/admin/plugins/ionicons/ionicons.js"></script>
      <!-- Moment js -->
      <!-- <script src="/static/admin/plugins/moment/moment.js"></script> -->
      <!-- P-scroll js -->
      <!-- <script src="/static/admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script> -->
      <!-- <script src="/static/admin/plugins/perfect-scrollbar/p-scroll.js"></script> -->
      <!-- Internal Data tables -->
      <!-- <script src="/static/admin/plugins/datatable/js/jquery.dataTables.min.js"></script>
      <script src="/static/admin/plugins/datatable/js/dataTables.bootstrap5.js"></script>
      <script src="/static/admin/plugins/datatable/js/dataTables.buttons.min.js"></script>
      <script src="/static/admin/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
      <script src="/static/admin/plugins/datatable/js/jszip.min.js"></script>
      <script src="/static/admin/plugins/datatable/pdfmake/pdfmake.min.js"></script>
      <script src="/static/admin/plugins/datatable/pdfmake/vfs_fonts.js"></script>
      <script src="/static/admin/plugins/datatable/js/buttons.html5.min.js"></script>
      <script src="/static/admin/plugins/datatable/js/buttons.print.min.js"></script>
      <script src="/static/admin/plugins/datatable/js/buttons.colVis.min.js"></script>
      <script src="/static/admin/plugins/datatable/dataTables.responsive.min.js"></script>
      <script src="/static/admin/plugins/datatable/responsive.bootstrap5.min.js"></script>
      <script src="/static/admin/js/manage_blog.js"></script> -->
      <!-- INTERNAL Select2 js -->
      <!-- <script src="/static/admin/plugins/select2/js/select2.full.min.js"></script> -->
      <!-- Sidebar js -->
      <!-- <script src="/static/admin/plugins/side-menu/sidemenu.js"></script> -->
      <!-- Sticky js -->
      <script src="/static/admin/js/sticky.js"></script>
      <!-- Modal -->
      <script src="/static/admin/js/modal.js"></script>

      <!-- Right-sidebar js -->
      <!-- <script src="/static/admin/plugins/sidebar/sidebar.js"></script> -->
      <!-- <script src="/static/admin/plugins/sidebar/sidebar-custom.js"></script> -->
      <!-- eva-icons js -->
      <script src="/static/admin/js/eva-icons.min.js"></script>
      <!-- Theme Color js -->
      <!-- <script src="/static/admin/js/themecolor.js"></script> -->
      <!-- custom js -->
      <script src="/static/admin/js/custom.js"></script>
      <!-- Switcher js -->
      <!-- <script src="/static/admin/switcher/js/switcher.js"></script> -->

      <script src="/static/admin/js/cropper.js"></script>
      <script src="/static/admin/js/cropper_slider.js"></script>
      <script>
        $('#btn-update').on('click', async () => {
          $('#btn-update').html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Đang đăng... `
          );

          try {
            let formData = new FormData();
            const id = $('#btn-update').attr('data-id');
            formData.append('title', $('#title').val());
            formData.append('description', $('#description').val());
            formData.append('link', $('#link').val());
            if(blobImg){
              formData.append('img', blobImg, 'crop.png');
            }

            const response = await fetch(`/api/v1/sliders/${id}`, {
              body: formData,
              method: 'PATCH',
            });

            const data = await response.json();

            setTimeout(() => {
              $('#submit').html(`<i class="fa fa-paper-plane"></i> Cập nhật`);
            }, 500);

            if (data.code == 200) {
              notif({
                msg: 'Tạo thành công, bạn sẽ được chuyển hướng sau 2s nữa',
                position: 'right',
                bottom: '10',
              });

              setTimeout(() => {
                window.location.href = '/admin/manage-slider';
              }, 2000);
              return;
            } else {
              notif({
                msg: data.message,
                type: 'error',
                position: 'right',
                zindex: 99999999,
              });

              $('#submit').html(`<i class="fa fa-paper-plane"></i> Cập nhật`);
              return;
            }
          } catch (error) {
            notif({
              msg: error,
              type: 'error',
              position: 'right',
              zindex: 99999999,
            });

            setTimeout(() => {
              $('#submit').html(`<i class="fa fa-paper-plane"></i> Cập nhật`);
            }, 200);
          }
        });
      </script>
    </div>
    <div class="main-navbar-backdrop"></div>
  </body>
</html>
