<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../components/head")%>
    <link rel="stylesheet" href="/static/client/css/demo1.css" />
  </head>

  <body>
    <%- include ("../components/header")%> <%- include ("../components/cart")%> <%- include ("../components/slider")%> <%-
    include ("../components/product")%> <%- include ("../components/banner")%> <%- include ("../components/category")%> <%-
    include ("../components/feature")%> <%- include ("../components/service")%> <%- include ("../components/review")%> <%-
    include ("../components/modal")%> <%- include ("../components/footer")%> <%- include ("../components/link_js")%>
  </body>
</html>
