<!DOCTYPE html>
<html lang="en">
  <%- include ("../components/head")%>

  <body class="checkout_page">
    <%- include ("../components/header")%> <%- include ("../components/cart")%>

    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row ec_breadcrumb_inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="ec-breadcrumb-title">Đặt hàng</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <!-- ec-breadcrumb-list start -->
                <ul class="ec-breadcrumb-list">
                  <li class="ec-breadcrumb-item"><a href="/">Home</a></li>
                  <li class="ec-breadcrumb-item active">ĐẶt hàng</li>
                </ul>
                <!-- ec-breadcrumb-list end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Ec checkout page -->
    <section class="ec-page-content section-space-p">
      <div class="container">
        <div class="row">
          <div class="ec-checkout-leftside col-lg-8 col-md-12">
            <!-- checkout content Start -->
            <div class="ec-checkout-content">
              <div class="ec-checkout-inner">
                <div class="ec-checkout-wrap margin-bottom-30 padding-bottom-3">
                  <div class="ec-checkout-block ec-check-bill">
                    <h3 class="ec-checkout-title">Chi tiết thanh toán</h3>
                    <div class="ec-bl-block-content">
                      <div class="ec-check-bill-form">
                        <form action="#" method="post">
                          <span class="ec-bill-wrap ec-bill-half">
                            <label>Họ đệm*</label>
                            <input type="text" name="firstname" placeholder="" required="" />
                          </span>
                          <span class="ec-bill-wrap ec-bill-half">
                            <label>Tên*</label>
                            <input type="text" name="lastname" placeholder="" required="" />
                          </span>
                          <span class="ec-bill-wrap">
                            <label>Địa chỉ</label>
                            <input type="text" name="address" placeholder="" />
                          </span>
                          <span class="ec-bill-wrap ec-bill-half">
                            <label>Thành phố *</label>
                            <span class="ec-bl-select-inner">
                              <select name="ec_select_city" id="ec-select-city" class="ec-bill-select"></select>
                            </span>
                          </span>

                          <span class="ec-bill-wrap ec-bill-half">
                            <label>Quận / Huyện*</label>
                            <span class="ec-bl-select-inner">
                              <select name="ec_select_country" id="ec-select-district" class="ec-bill-select"></select>
                            </span>
                          </span>
                          <span class="ec-bill-wrap ec-bill-half">
                            <label>Xã / Phường</label>
                            <span class="ec-bl-select-inner">
                              <select name="ec_select_state" id="ec-select-ward" class="ec-bill-select"></select>
                            </span>
                          </span>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="ec-check-order-btn">
                  <a class="btn btn-primary" href="#">Đặt hàng</a>
                </span>
              </div>
            </div>
            <!--cart content End -->
          </div>
          <!-- Sidebar Area Start -->
          <div class="ec-checkout-rightside col-lg-4 col-md-12">
            <div class="ec-sidebar-wrap">
              <!-- Sidebar Summary Block -->
              <div class="ec-sidebar-block">
                <div class="ec-sb-title">
                  <h3 class="ec-sidebar-title">
                    Summary
                    <div class="ec-sidebar-res"><i class="ecicon eci-angle-down"></i></div>
                  </h3>
                </div>
                <div class="ec-sb-block-content ec-sidebar-dropdown">
                  <div class="ec-checkout-summary">
                    <div>
                      <span class="text-left">Tạm tím</span>
                      <span class="text-right" id="c-price">0 VND</span>
                    </div>
                    <div>
                      <span class="text-left">VAT (8%)</span>
                      <span class="text-right" id="c-vat">0 VND</span>
                    </div>
                    <div>
                      <span class="text-left">Voucher</span>
                      <span class="text-right"><a class="ec-checkout-coupan">Nhập voucher</a></span>
                    </div>
                    <div class="ec-checkout-coupan-content">
                      <form class="ec-checkout-coupan-form" name="ec-checkout-coupan-form" method="post" action="#">
                        <input
                          class="ec-coupan"
                          type="text"
                          required=""
                          placeholder="Enter Your Coupan Code"
                          name="ec-coupan"
                          value=""
                        />
                        <button class="ec-coupan-btn button btn-primary" type="submit" name="subscribe" value="">
                          Apply
                        </button>
                      </form>
                    </div>
                    <div class="ec-checkout-summary-total">
                      <span class="text-left">Tổng tiền</span>
                      <span class="text-right" id="c-total">0 VND</span>
                    </div>
                  </div>
                  <div class="ec-checkout-pro">
                    <div class="col-sm-12 mb-6">
                      <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                          <div class="ec-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <img class="main-image" src="/static/client/images/product-image/1_1.jpg" alt="Product" />
                              <img class="hover-image" src="/static/client/images/product-image/1_2.jpg" alt="Product" />
                            </a>
                            <div class="ec-pro-loader"></div>
                          </div>
                        </div>
                        <div class="ec-pro-content">
                          <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Baby toy teddy bear</a></h5>
                          <div class="ec-pro-rating">
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star"></i>
                          </div>
                          <span class="ec-price">
                            <span class="old-price">$95.00</span>
                            <span class="new-price">$79.00</span>
                          </span>
                          <div class="ec-pro-option">
                            <div class="ec-pro-color">
                              <span class="ec-pro-opt-label">Color</span>
                              <ul class="ec-opt-swatch ec-change-img">
                                <li class="active">
                                  <a
                                    href="#"
                                    class="ec-opt-clr-img"
                                    data-src="/static/client/images/product-image/1_1.jpg"
                                    data-src-hover="/static/client/images/product-image/1_1.jpg"
                                    data-tooltip="Gray"
                                    ><span style="background-color: #6d4c36"></span
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="#"
                                    class="ec-opt-clr-img"
                                    data-src="/static/client/images/product-image/1_2.jpg"
                                    data-src-hover="/static/client/images/product-image/1_2.jpg"
                                    data-tooltip="Orange"
                                    ><span style="background-color: #ffb0e1"></span
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="#"
                                    class="ec-opt-clr-img"
                                    data-src="/static/client/images/product-image/1_3.jpg"
                                    data-src-hover="/static/client/images/product-image/1_3.jpg"
                                    data-tooltip="Green"
                                    ><span style="background-color: #8beeff"></span
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="#"
                                    class="ec-opt-clr-img"
                                    data-src="/static/client/images/product-image/1_4.jpg"
                                    data-src-hover="/static/client/images/product-image/1_4.jpg"
                                    data-tooltip="Sky Blue"
                                    ><span style="background-color: #74f8d1"></span
                                  ></a>
                                </li>
                              </ul>
                            </div>
                            <div class="ec-pro-size">
                              <span class="ec-pro-opt-label">Size</span>
                              <ul class="ec-opt-size">
                                <li class="active">
                                  <a href="#" class="ec-opt-sz" data-old="$95.00" data-new="$79.00" data-tooltip="Small"
                                    >S</a
                                  >
                                </li>
                                <li>
                                  <a href="#" class="ec-opt-sz" data-old="$90.00" data-new="$70.00" data-tooltip="Medium"
                                    >M</a
                                  >
                                </li>
                                <li>
                                  <a href="#" class="ec-opt-sz" data-old="$80.00" data-new="$60.00" data-tooltip="Large"
                                    >X</a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="#"
                                    class="ec-opt-sz"
                                    data-old="$70.00"
                                    data-new="$50.00"
                                    data-tooltip="Extra Large"
                                    >XL</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 mb-0">
                      <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                          <div class="ec-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                              <img class="main-image" src="/static/client/images/product-image/8_1.jpg" alt="Product" />
                              <img class="hover-image" src="/static/client/images/product-image/8_2.jpg" alt="Product" />
                            </a>
                            <div class="ec-pro-loader"></div>
                          </div>
                        </div>
                        <div class="ec-pro-content">
                          <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Smart I watch 2GB</a></h5>
                          <div class="ec-pro-rating">
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star"></i>
                          </div>
                          <span class="ec-price">
                            <span class="old-price">$58.00</span>
                            <span class="new-price">$45.00</span>
                          </span>
                          <div class="ec-pro-option">
                            <div class="ec-pro-color">
                              <span class="ec-pro-opt-label">Color</span>
                              <ul class="ec-opt-swatch ec-change-img">
                                <li class="active">
                                  <a
                                    href="#"
                                    class="ec-opt-clr-img"
                                    data-src="/static/client/images/product-image/8_2.jpg"
                                    data-src-hover="/static/client/images/product-image/8_2.jpg"
                                    data-tooltip="Gray"
                                    ><span style="background-color: #f3f3f3"></span
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="#"
                                    class="ec-opt-clr-img"
                                    data-src="/static/client/images/product-image/8_3.jpg"
                                    data-src-hover="/static/client/images/product-image/8_3.jpg"
                                    data-tooltip="Orange"
                                    ><span style="background-color: #fac7f3"></span
                                  ></a>
                                </li>
                                <li>
                                  <a
                                    href="#"
                                    class="ec-opt-clr-img"
                                    data-src="/static/client/images/product-image/8_4.jpg"
                                    data-src-hover="/static/client/images/product-image/8_4.jpg"
                                    data-tooltip="Green"
                                    ><span style="background-color: #c5f1ff"></span
                                  ></a>
                                </li>
                              </ul>
                            </div>
                            <div class="ec-pro-size">
                              <span class="ec-pro-opt-label">Size</span>
                              <ul class="ec-opt-size">
                                <li class="active">
                                  <a href="#" class="ec-opt-sz" data-old="$48.00" data-new="$45.00" data-tooltip="Small"
                                    >S</a
                                  >
                                </li>
                                <li>
                                  <a href="#" class="ec-opt-sz" data-old="$90.00" data-new="$70.00" data-tooltip="Medium"
                                    >M</a
                                  >
                                </li>
                                <li>
                                  <a href="#" class="ec-opt-sz" data-old="$80.00" data-new="$60.00" data-tooltip="Large"
                                    >X</a
                                  >
                                </li>
                                <li>
                                  <a
                                    href="#"
                                    class="ec-opt-sz"
                                    data-old="$70.00"
                                    data-new="$50.00"
                                    data-tooltip="Extra Large"
                                    >XL</a
                                  >
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sidebar Summary Block -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include ("../components/modal")%> <%- include ("../components/footer")%> <%- include ("../components/link_js")%>
  </body>
  <script src="/static/client/js/checkout.js"></script>
</html>
