<!DOCTYPE html>
<html lang="en">
  <%- include ("../components/head")%>

  <body>
    <%- include ("../components/header")%>

    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row ec_breadcrumb_inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="ec-breadcrumb-title">Tin tức</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <!-- ec-breadcrumb-list start -->
                <ul class="ec-breadcrumb-list">
                  <li class="ec-breadcrumb-item"><a href="/">Trang chủ</a></li>
                  <li class="ec-breadcrumb-item active">Tin tức</li>
                </ul>
                <!-- ec-breadcrumb-list end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Ec Blog page -->
    <section class="ec-page-content section-space-p">
      <div class="container">
        <div class="row">
          <div class="ec-blogs-rightside col-lg-12 col-md-12">
            <!-- Blog content Start -->
            <div class="ec-blogs-content">
              <div class="ec-blogs-inner">
                <div class="row">
                  <% articles.data.forEach(function(article){%>
                  <div class="col-lg-4 col-md-6 col-sm-12 mb-6 ec-blog-block">
                    <div class="ec-blog-inner">
                      <div class="ec-blog-image">
                        <a href="/blogs/<%= article.slug %>">
                          <img class="blog-image" src="<%= article.thumbnail %>" alt="Blog" />
                        </a>
                      </div>
                      <div class="ec-blog-content">
                        <h5 class="ec-blog-title">
                          <a href="/blogs/<%= article.slug %>"><%= article.title %></a>
                        </h5>

                        <div class="ec-blog-date">By <span><%= article.user.firstName %> <%= article.user.lastName %></span> / February 10, 2021-2022</div>
                        <div class="ec-blog-desc">
                          <%= article.title  %>
                        </div>

                        <div class="ec-blog-btn"><a href="/blogs/<%= article.slug %>" class="btn btn-primary">Xem thêm</a></div>
                      </div>
                    </div>
                  </div>

                  <%}) %>
                </div>
              </div>
              <!-- Ec Pagination Start -->
              <div class="ec-pro-pagination">
                <span>Showing 1-12 of 21 item(s)</span>
                <ul class="ec-pro-pagination-inner">
                  <li><a class="active" href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a class="next" href="#">Next <i class="ecicon eci-angle-right"></i></a>
                  </li>
                </ul>
              </div>
              <!-- Ec Pagination End -->
            </div>
            <!--Blog content End -->
          </div>
        </div>
      </div>
    </section>

    <%- include ("../components/modal")%> <%- include ("../components/footer")%> <%- include ("../components/link_js")%>
  </body>
</html>
